<Say::Hint as |hint|>
  <hint.header @closeHint={{action 'closeHints'}}>
    U kan hier deze sjablonen invoegen
  </hint.header>
  <hint.list as |list|>
    {{#each templates as |template|}}
      <list.item>
        <a class="" {{action "insert" template}}>
          {{template.title}}
        </a>
      </list.item>
    {{/each}}
  </hint.list>
</Say::Hint>
