.au-c-rdfa-editor {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container-flex--contain {
  overflow: visible;
  margin-top: 2em;
  border: .1rem solid gray;
}
.full-page {
  height: 100vh;
  width: 100vw;
  padding: 2em;
}
