{{page-title "Dummy"}}

<div class="full-page">
  <div class="container-flex--contain">
    <Rdfa::RdfaEditor class="au-c-rdfa-editor"
                      @plugins={{this.plugins}} />
  </div>
</div>